<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аккаунт</title>
    <style>
    body {
        background-color: black;
        margin-left: 20%;
        margin-right: 20%;
        padding: 10px 10px 10px 10px;
        font-family: sans-serif;
    }
    </style>
</head>
<body>
    <div>
        <h1 style="color: white;">Имя пользователя: {{user.username}}</h1>
        <h2 style="color: white;">Айди пользователя: {{user.id}}</h2>
    </div>
</body>
</html>